.about {
  grid-column: mobile-center-start/mobile-center-end;
  position: relative;

  @media only screen and (min-width: 768px) {
    grid-column: center-start/center-end;
  }
}

.myPhoto {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 0 auto;
}

.aboutText {
  margin-top: 5rem;

  span {
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    color: $mainblue;
  }
}

.aboutInfo {
  display: inline-block;

  &_buttons {
    display: inline-block;
    a {
      margin: 1rem 0;
      display: block;
      padding: 1rem 1.5rem;
      border: 1px solid lightgrey;
      border-radius: 2rem;
      text-align: center;
      font-size: 1.4rem;
    }

    a:first-child {
      background: $mainblue;
      color: white;
    }
  }
}
