.footer {
  margin-top: 10rem;
  grid-column: mobile-start/mobile-end;
  background: black;
  color: gainsboro;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 10rem 0;

  position: relative;

  svg {
    font-size: 3rem;
  }

  p {
    margin-bottom: 3rem;
  }

  a {
    margin-top: 1rem;
  }

  small {
    position: absolute;
    bottom: 3rem;
    left: 0;
    padding: 0 3rem;
  }

  @media only screen and (min-width: 768px) {
    grid-column: full-start/full-end;
  }
}

.footNotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footSocial {
  margin: 5rem 0;

  svg {
    margin-right: 2rem;
  }
}
