.header {
  grid-column: mobile-start/mobile-end;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 2;
  height: 7rem;

  // header media not applicable, it's inside the banner.
  @media only screen and (min-width: 768px) {
    // grid-row: 1 / span 1;
    // grid-column: full-start/full-end;
    align-items: initial;
  }

  &_logo {
    width: 5rem;
    height: 5rem;
    object-fit: unset;
  }
}

.menuBtn {
  display: flex;
  flex-direction: column;
  right: 5rem;
  top: 2rem;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  align-items: center;
  justify-content: center;
  height: 3rem;
  transition: all 0.3s linear;

  @media only screen and (min-width: 768px) {
    display: none;
  }

  /* lines */
  &_line {
    width: 3rem;
    height: 0.5rem;
    margin: 0 0 0.7rem 0;
    background: white;
    transition: all 0.3s linear;

    &:nth-child(3) {
      margin: 0;
    }

    &--open {
      background: white;
      /* // rotate line 1 */
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.8rem, 0.9rem);
        /* // animation: rotate45 0.5s ease-in; */
      }
      /* // hide line 2 */
      &:nth-child(2) {
        opacity: 0;
      }
      /* // rotate line 3 */
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.8rem, -0.9rem);
        /* // animation: rotateMinus45 0.5s ease-in; */
      }
    }
  }
}

.menuBtn_line--open {
}

.mainNav {
  // display: none;
  background: white;
  height: 70vh;
  width: 50vw;
  grid-column: mobile-start / col-end 3;
  position: absolute;
  top: 7rem;
  right: -100%;
  transition: all 0.3s linear;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;

  // NAV TRANSITION
  &_Open {
    right: 0%;
  }

  @media only screen and (min-width: 768px) {
    height: unset;
    width: unset;
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: unset;
    background: none;
    // top: un;
    // left: -100%;
  }

  @media only screen and (min-width: 768px) {
    display: unset;
    left: 0%;
  }

  &_menu {
    list-style-type: none;
    // margin: 3rem;
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2rem;

    @media only screen and (min-width: 768px) {
      margin: unset;
      position: unset;
      // display: grid;
      // grid-template-columns: 1fr;
      // grid-template-rows: 1fr;
      text-align: unset;
      transform: unset;
      flex-direction: unset;
    }

    li {
      // margin: 2rem 0;

      @media only screen and (min-width: 768px) {
        margin: 0.5rem 2rem;
      }
    }

    li a {
      color: $shellwhite;
      font-weight: 400;
      font-size: 2rem;
      transition: all 0.3s ease-out;
    }
  }

  @media only screen and (min-width: 768px) {
    display: flex;
  }
}
