.services {
  grid-column: mobile-center-start/mobile-center-end;
  position: relative;

  &_box {
    border-radius: 1.5rem;
    box-shadow: rgba(204, 174, 122, 0.3) 0px 15px 25px 0px;
    padding: 3rem 1.5rem;

    span {
      font-weight: 400;
      display: block;
      font-size: 2rem;
      color: $mainblue;
    }
  }
}
