.whatIDo {
  grid-column: mobile-center-start/mobile-center-end;
}

.services {
  margin: 5rem 0;

  h4 {
    font-size: 2.4rem;
  }
  span {
    font-weight: 400;
    display: block;
    font-size: 2rem;
  }
}
