.whatIDo {
  grid-column: mobile-center-start/mobile-center-end;
}

.services {
  margin: 5rem 0;

  h4 {
    font-size: 2.4rem;
  }
  span {
    font-weight: 400;
    display: block;
    font-size: 2rem;
  }
}

.Intro {
  box-shadow: rgb(204 174 122 / 30%) 0px 15px 25px 0px;
  // width: 15rem;
  // height: 15rem;
  margin: 10rem auto 5rem auto;

  &_title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    text-align: center;
    padding: 3rem;
  }
}
